Interfaces configuration of {{ ansible_facts.ansible_net_hostname }}

{% for interface, details in ansible_facts.ansible_net_interfaces.items() %}
Interface {{ interface }}
    {% if details.lineprotocol %}
    - lineprotocol: {{ details.lineprotocol }}
    {% endif %}
    {% if details.operstatus %}
    - operstatus: {{ details.operstatus }}
    {% endif %}
    {% if details.type %}
    - type: {{ details.type }}
    {% endif %}
    {% if details.ipv4 %}
    - ipv4: {{ details.ipv4 }}
    {% endif %}
    {% if 'trunk' in details %}
    - mode: trunk encapsulation dot1q
    {% endif %}
{% endfor %}
