Interfaces configuration of {{ output.ansible_facts.ansible_net_hostname }}

{% for interface, details in output.ansible_facts.ansible_net_interfaces.items() %}
Interface {{ interface }}
    - lineprotocol: {{ details.lineprotocol }}
    - operstatus: {{ details.operstatus }}
    - type: {{ details.type }}
{% if details.ipv4 %}
    - ipv4: {{ details.ipv4 }}
{% endif %}
{% for value in output.ansible_facts.ansible_network_resources.l2_interfaces %}
{% if 'trunk' in value and value.name == interface %}
    - mode: trunk encapsulation dot1q, allowed vlan {{ value.trunk.allowed_vlans }}
{% endif %}
{% if 'access' in value and value.name == interface %}
    - mode: access vlan {{value.access.vlan}}
{% endif %}
{% endfor %}

{% endfor %}
